/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.give-total-wrap {
    flex-direction: column;
}

.gNotice {
    margin: 15px 20px;
    font-size: 15px;
}

/* .g-recaptcha {} */